/* === Reset & Base === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* === Theme Variables === */
:root {
  --primary: #0064E0;
  --primary-dark: #001E6E;
  --bg-light: #f9fafb;
  --text: #222;
}


/* === Header === */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

  
.nav-links {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 2rem; /* space between logo and nav */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  flex-shrink: 0;
  line-height: 1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  
}



.nav-links a {
  color: black;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #0064E0;
}


.search-container {
  position: relative;
  display: block;
  align-items: center;
}

/* Hide input by default */
#search-input {
  width: 0;
  opacity: 0;
  padding: 0;
  margin-left: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
  font-size: 1rem;
  outline: none;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 24px;
  height: 24px;
  fill: black;
  transition: fill 0.1s ease;
}

.search-btn:hover .search-icon {
  fill: #0064E0;
}


/* When active, show input */
.search-container.active #search-input {
  width: 200px; /* adjust as needed */
  opacity: 1;
  padding: 0.25rem 0.5rem;
}


.hamburger {
  display: none; /* hide by default */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}


header {
  font-weight: bold;
  text-align: left;
  padding: 2rem;
  background-color: black;
  color: white;

}


.hero {
  padding: 4rem 2rem 2rem;
  text-align: left;
  background:
    linear-gradient(105deg, #A033FF30, #1877F230, #25D36620, #FFD72320);
  color: black;
  display: block;
  line-spacing: 1.6;
}
 


.hero-title {
  font-size: 2.5rem;
  line-height: 1.2;
  padding-bottom: 0.5rem;
}

.hero-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  max-width: 150px;
  text-align: center;
  width: 100%;
  line-height: 1rem;
}

.hero-button a {
  background: #0064E0;
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-radius: 50px;
  transition: background 0.3s;
  font-weight: 600;
}

.hero-button a:hover {
  background: #001E6E;
}



.main-heading {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
  margin-top: 3rem;
}

.small-header {
  text-align: left;
  font-weight: bold;
  font-size: 150%;
   margin: 0.5rem;
  margin-top: 2rem;
}

.subheading {
  text-align: center;
  margin-bottom: 1rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem; /* Optional: adds breathing room on small screens */
  
}


.video-section {
  padding-bottom: 2rem;
}

.carousel-wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}


.carousel-track-container {
  position: relative; /* so buttons can be absolutely positioned inside */
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  position: relative;
  will-change: transform;

}

.carousel-item {
  min-width: 250px; /* 5 per view */
  padding: 0 0.5rem;
  box-sizing: border-box;
  position: relative;
  width: 250px;
  flex: 0 0 auto;

}



.video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9fafb;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.video-wrapper img {
  width: 105%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: #f9fafb;
  
}


.video-title {
  font-weight: bold;
  font-size: 1rem;
  margin: 0.25rem 0;
  margin-top: 0.75rem;
}


.play-button {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: white;
}

.play-button::before {
  content: '▶';
}

.thumbnail-link:hover .play-button {
  opacity: 0.5;
}

.video-description {
  font-size: 1rem;
  color: black;
  margin: 0.25rem 0 0.5rem;
  line-height: 1.4;
}

.creator-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.85rem;
  color: #333;
  margin-top: 1rem;
}

.creator-avatar {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  flex-shrink: 0;
}

.creator-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.creator-name {
  font-size: 0.85rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.5rem;
}

.carousel-btn {
  position: absolute;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  z-index: 2;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  transition: background 0.3s ease;
  pointer-events: auto;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20%;
}

.carousel-btn.prev { 
  left: 0;

}
.carousel-btn.next {
  right: 0; 
  
}


body {
  font-family: 'Optimistic VF', sans-serif;
  background-color: #f9fafb;
  color: #222;
  line-height: 1.6;
}


/* === Grid Layout === */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
}

/* === Card Styling === */
.card {
  background: white;
  min-height: 200px; 
  max-height: 200px; 
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.card h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.card p {
  margin-bottom: 1rem;
}

.card a:hover {
  text-decoration: underline;
}


.get-started {
  background:     
  linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f9fafb 100%),
  linear-gradient(125deg, #A033FF30, #1877F230, #25D36620, #FFD72330, #FF6C5C30);
  background-color: white;
  padding: 2rem 0 2rem;          /* only vertical padding */
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 2rem;

}

.get-started .container {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  margin: 0 auto;
  align-items: flex-start;
  overflow: hidden;
  
}

.get-started-text {
  flex: 1 1 300px;
  max-width: 40%;
  text-align: left;
 
}

.get-started-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.get-started-text p {
  margin-bottom: 1.5rem;
  color: #444;
}

.button {
  display: inline-block;
  background-color: #0064E0;
  color: #fff;
  padding: 1rem;
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
  font-weight: 600;
  line-height: 1rem;
}

.button:hover {
  background: #001E6E;
}

.center-button {
  text-align: center;
  margin-bottom: 2rem;
}

.center-button .button {
  display: inline-block;
}


.get-started-grid {
  display: grid;
  flex: 2 1 600px;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 100%;

}


.card h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}



.card a {
  color: #0064E0;
  font-weight: 500;
  text-decoration: none;
}



h3 a {
  text-decoration: none;
  color: inherit; /* Makes link color match the h3 color */
}

h3 a:hover {
  text-decoration: underline; /* Optional: underline on hover */
}








@media (max-width: 768px) {
  .get-started .container {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .get-started-text {
    max-width: 100%;
    text-align: center;
  }

  .get-started-grid {
    grid-template-columns: 1fr;
  }
  
    .left-nav {
    flex-direction: column;
    align-items: flex-start;  /* left align on small */
    gap: 1rem;
  }
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
  }
}


@media (max-width: 600px) {
  .get-started .container {
    flex-direction: column;
    padding: 0 1rem;  /* less padding on narrow */
  }

  .get-started-grid {
    grid-template-columns: 1fr;
    padding-left: 0;  /* no extra padding */
    max-width: 100%;
  }
    
  .site-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .left-nav {
    flex-direction: column;
    align-items: flex-start;  /* left align on small */
    gap: 0.5rem;
  }
  .nav-links,
  .search-container {
    display: none; /* hide nav and search */
  }

  .hamburger {
    display: flex;
  }

  /* Show menu when active */
  .site-header.active .nav-links,
  .site-header.active .search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .site-header.active .search-container {
    margin-top: 0.5rem;
  }

  .nav-links a {
    padding: 0.75rem 0;
    border-bottom: 1px solid #ccc;
  }


/* Hero section overrides for small screens */

  .hero {
    height: auto !important;        /* Remove fixed height */
    min-height: unset !important;   /* Remove min-height */
    max-height: unset !important;   /* Remove max-height */
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-title {
    font-size: 2rem;
    padding-top: 0;
  }

  .hero-button {
    width: 100%;
    max-width: 250px;
    margin: 2rem auto 0;
  }

  .hero-button a {
    display: block;
    width: 100%;
  }

  .site-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
}



@media (max-width: 800px) {
  .get-started .container {
    flex-direction: column;
  }

  .get-started-grid {
    grid-template-columns: 1fr;
  }
}




.featured-articles {
  padding: 2rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  
}

.article-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.article.reverse {
  direction: rtl;
}

.article.reverse .article-content {
  direction: ltr;
}

.article-image {
  background-color: #e5e7eb;
  aspect-ratio: 0.75 / 0.5;
  border-radius: 1rem;
  width: 90%;
  overflow: hidden;
}


.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-content h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.article-content p {
  color: black;
  font-size: 1rem;
  line-height: 1.5;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .article {
    grid-template-columns: 1fr;
  }

  .article.reverse {
    direction: ltr;
  }
}


a:focus,
button:focus {
  outline: 2px solid #0064E0;
  outline-offset: 3px;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid #0064E0;
  outline-offset: 3px;
}



/* === Footer === */
.site-footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  color: #888;
  background-color: #f1f1f1;
}
.site-footer a {
  color: #0a84ff;
  text-decoration: none;
}
.site-footer a:hover {
  text-decoration: underline;
}

/* === Desktop Breakpoint === */

@media (min-width: 1024px) {
  .get-started .container {
    flex-direction: row;
    align-items: flex-start;
    gap: 6rem;
    padding: 4rem 2rem;
  }

  
  .get-started-text {
    text-align: left;
    max-width: 40%;
  }

  .get-started-grid {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }


  .main-heading {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .carousel-item {
    min-width: 250px;
  }

}
